{{define "header"}}
<!DOCTYPE html>
<html style="height: 100%">
<head lang="en">
	<meta charset="utf-8">
	<title>Gluster Web</title>
	<link type="text/css" rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/public/css/skel-noscript.css" />
    <link type="text/css" rel="stylesheet" href="/public/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/public/css/style-desktop.css" />
    <script src="/public/js/jquery.min.js"></script>
</head>
<body>

{{end}}