{{define "volume"}}
{{template "header"}}

<!-- Header -->
<div id="header">
	<div class="container">
		<!-- Logo -->
		<div id="logo">
			<h1><a href="#">Gluster Web</a></h1>
		</div>
		<!-- Nav -->
		<nav id ="nav">
			<ul class="list-group">
			{{ range $id, $vol := .Vols}}
				<li class="list-group-item">
				<span class="show-detail" id="{{ $vol }}" data-id="{{$id}}"><strong>{{$vol}}</strong></span>
				</li>
			{{ end }}
			</ul>
		</nav>
	</div>
</div>
<!-- Header -->

<!-- Main -->
<div id="vol-detail" class="container">
	{{ range $brick := .Bricks}}
		<div>
		{{ if (eq $brick.Status "Connected")}}
			<div><font size="4"><b>Brick: {{$brick.Name}}</b></font></div>
			<div>
				<button class="delete-entries" id="{{$brick.Name}}">delete-entries</button>
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					Status: {{$brick.Status}}
				</li>
				<li class="list-group-item">
					Heal entries: {{$brick.HealCount}}
				</li>
				<li class="list-group-item">
					Split-brain entries: {{$brick.SplitBrainCount}}
				</li>
			</ul>
		{{else}}
			<div><font size="4"><b>Brick: {{$brick.Name}}</b></font></div>
			<ul class="list-group">
				<li class="list-group-item">
					<font color="red">Status: {{$brick.Status}} </font>
				</li>
			</ul>
		{{end}}
		</div>
	{{ end }}
</div>
<!-- Main -->

<!-- script -->
<script>
$(function() {
	$('.show-detail').click(function(){
		var vol = $(this).attr("id");
		var target = $(document.getElementById("vol-detail"));
		$(document.getElementById(vol)).addClass("active")
		var url = "/volume/detail?vol="+vol;
		window.location.href = url
		// $.ajax({
		// 	url: "/volume/detail",
		// 	type: "post",
		// 	data: JSON.stringify({Vol: vol})
		// }).done(function(data){
		// 	target.html(data)
		// });
	});
});
</script>
<!-- script -->


{{template "footer"}}
{{end}}